/*Todavia no tengo las imagenes originales, son ilustrativas*/

 html, body {
    margin: 0;
    padding: 0;
}

body{
    font-family: oblique;
    user-select: none;
}


.imgLogo {
    width: 100%;
}

body{
    background-color: orange;
}

.titulo__principal{
font-size: 50px;
color: white;
font-style: oblique;
text-shadow: 1px 1px 5px black;
text-align: center;
margin-bottom: 0;
}

}

.contaTitu{
    
    font-size: 38px;
    color: black;
    padding: 20px;
    text-shadow: 0 0 15px black;
    background-position: center;
    
}

.nosotros{

    float: left;
    padding: 20px;
    background-color: rgba(181, 149, 144, 0.9);
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
}

.ubi--titu{
    float: left;
    padding: 20px;
    background-color: rgba(181, 149, 144, 0.9);
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
  }

.productoTitu{
    float: left;
    padding: 20px;
    background-color: rgba(181, 149, 144, 0.9);
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
   }

a {
    text-decoration: none;
}

form {
    border: solid 2px black;
    border-radius: 20px;
    padding: 10px;
}
input {
    padding: 10px;
    margin: 10px;
}