/*Todavia no tengo las imagenes originales, son ilustrativas*/

html, body {
    margin: 0;
    padding: 0;
}

body{
    font-family: oblique;
    user-select: none;
}

.head {
 display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 60% 15% auto; 
  gap: 1px 1px; 
  grid-template-areas: 
    "Logo Logo"
    "nav nav"
    "titu titu"; 
    align-content: space-evenly; 
    width: 100%;
}
.fotosMain {
    display: flex;
    justify-content: space-around;
}
.imgLogo {
    width: 100%;
}

.Logo { grid-area: Logo; }
.nav { grid-area: nav; }
.titu { 
    grid-area: titu; 
}
.img1 { grid-area: img1; }
.img2 { grid-area: img2; }

body{
    background-color: orange;
}

.titulo__principal{
font-size: 50px;
color: white;
font-style: oblique;
text-shadow: 1px 1px 5px black;
text-align: center;
margin-bottom: 0;
}



.barraNav{
    display: inline-block;
    display: flex;
    list-style-type: none;
    padding: 20px;
    margin: 0px;}

.barraNav li{
    padding: 40px;
    font-size: 30px;
    font-style: oblique;
    text-align: center;

}

.paralax{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 550px;
    width: 500px;

}

.img2{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 550px;
    width: 500px;


}

.contacto--titulo{
    font-size: 38px;
    color: black;
    padding: 20px;
    text-shadow: 0 0 15px black;
    background-position: center;
    
}
.contactoFlex {
    display: flex;
    justify-content: space-around;

}
form {
    border: solid 2px black;
    border-radius: 20px;
    padding: 15px;
}
input {
    padding: 20px;
    margin: 20px;
}

.icono--redes{
  

    float: none;
    display: block;
    list-style-type: none;
    padding: 50PX;
    margin: 5px;
}

.div--presentacion{
    background-color: rgba(255, 18, 18, 0.14);
    display: flex;
    margin: 20px 5;
    width: 70%;
    font-size: 20px;
    font-style: oblique;
  }

.nosotros{

    float: left;
    padding: 20px;
    background-color: rgba(181, 149, 144, 0.9);
    border-radius: 20px;
    font-weight: bold;
}
.nosotrosFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ubiFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ubi--titu{
    float: left;
    padding: 20px;
    background-color: rgba(181, 149, 144, 0.9);
    border-radius: 20px;
    font-weight: bold;
  }

.productoTitu{
    float: left;
    padding: 20px;
    background-color: rgba(181, 149, 144, 0.9);
    border-radius: 20px;
    font-weight: bold;
   }
.productoMain {
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;

}

@media only screen and (min-width: 0px) and (max-width: 768px){

.barraNav{
    flex-wrap: wrap;
    position:  relative;
    top:  -200px;


}

}