/*Todavia no tengo las imagenes originales, son ilustrativas*/

 html, body {
    margin: 0;
    padding: 0;
}

body{
    font-family: oblique;
    user-select: none;
}


.imgLogo {
    width: 100%;
}

body{
    background-color: orange;
}

.titulo__principal{
font-size: 50px;
color: white;
font-style: oblique;
text-shadow: 1px 1px 5px black;
text-align: center;
margin-bottom: 0;
}

}

.contaTitu{
    
    font-size: 38px;
    color: black;
    padding: 20px;
    text-shadow: 0 0 15px black;
    background-position: center;
    
}

.nosotros{

    float: left;
    padding: 20px;
    background-color: rgba(181, 149, 144, 0.9);
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
}

.ubi--titu{
    float: left;
    padding: 20px;
    background-color: rgba(181, 149, 144, 0.9);
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
  }

.productoTitu{
    float: left;
    padding: 20px;
    background-color: rgba(181, 149, 144, 0.9);
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
   }

a {
    text-decoration: none;
}

form {
    border: solid 2px black;
    border-radius: 20px;
    padding: 10px;
}
input {
    padding: 10px;
    margin: 10px;
}

.textProd{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(212,152,13,1) 100%);
}

.imgUb {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }

  }
.row {
  margin: 40px 0;
  text-align: center;
}

li {
  list-style: none;
}


}

@media only screen and (max-width: 600px) {
    .videoNos iframe{ width: 300px; height: 300px;
    }
    }